@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS 1', sans-serif;
}
.login{
  margin: 16rem auto;
  width: 20rem;
  text-align: center;
}
.card{
  padding: 2rem;
}
.input-field{
  margin: 1rem;
}
.logar{
  margin-top: 15px;
  padding: 10px;
  height: 100%;

}
.msg{
  font-size: 1.5rem;
  color: #26a69a;
  margin-top: 10px;
}
.remember{
  text-align: left;
  margin-top: 10px;
  margin-left: 12px;
}
.login-error{
  color: red;
}
