<p *ngFor="let user of users" >Usuário: {{ user.user }}</p>

<!-- <div class="titulo">
  <h4>Lista de animes</h4>
</div>
<div class="row">
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Kimetsu no Yaiba</span>
        <p>Genero: Supernatural</p>
        <p>Lancamento: 2019</p>
      </div>
      <div class="card-action">
        <a href="#">Detalhes</a>
      </div>
    </div>
  </div>
</div> -->

