*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.teste{
  background-color: transparent;
}
.form{
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}
input{
  color: white;
}
.input{
  padding-bottom: 1rem!important;
}
.valign-wrapper{
  display: flex;
  align-items: center;
}
.ptop10{
  padding-top: 10px;
}
.ptop15{
  padding-top: 5rem !important;
}
.ptop40{
  padding-top: 4rem!important;
}
.meio{
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo{
  padding-top: 20px;
  padding-bottom: 30px;
  color: rgb(100, 100, 100);
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  padding: 1rem;
}
.card-action{
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}
.btn{
  margin-left: 10px;
}
.inpt-file{
  font-size: 1rem !important;
  padding-top: 1rem
}



