<!-- <div class="login">
  <div class="card">
    <div class="card-body">
      <form class="sigin-form" #signInForm="ngForm">
        <div class="row">
          <span class="msg">Por favor logue-se</span>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="dataLogin.user" name="user" id="usuario" type="text" class="validate" ngModel required>
            <label for="usuario">Usuario</label>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="password" type="password" class="validate" ngModel required [(ngModel)]="dataLogin.pass" >
            <label for="password">Senha</label>
          </div>
        </div>
        <div class="row">
          <p class="remember">
            <label>
              <input type="checkbox" class="filled-in"/>
            </label>
          </p>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light logar" type="submit" name="action"
          (click)="logar()">Logar
          </button>
        </div>
      </form>

    </div>
  </div>
</div> s10 pull-s1 m12 pull-m3 l4 pull-l4 -->

<!-- <div class="valign-wrapper row login-box">
  <div class="col card s10 pull-s1 m12 pull-m3 l4 pull-l4">
    <form class="formlogin border-gradient-purple border-gradient" #signInForm="ngForm">
      <div class="card-content">
        <span class="card-title center-align">Login</span>
        <div class="row">

          <div class="input-field col s12">
            <label for="user">Username</label>
            <input [(ngModel)]="dataLogin.user" ngModel required type="text" class="validate inpt" name="user" id="user" />
          </div>

          <div class="input-field col s12">
            <label for="password">Password</label>
            <input type="password" class="validate inpt" name="password" id="password" ngModel required [(ngModel)]="dataLogin.pass"/>
          </div>

        </div>
      </div>
      <div class="card-action">
        <div class="center-align">
          <button type="button" class="btn green waves-effect waves-light btn-logar" (click)="logar()">LOGAR</button>
        </div>
      </div>

      <div class="card-action center-align">
        <div class="center-align register">
          <p class="msg">Não possui uma conta?
          <br>Registre-se</p>
          <button type="button" class="btn blue waves-effect waves-light btn-registro" (click)="redirect()">Registre-se</button>
        </div>
      </div>

    </form>
  </div> -->


  <div class="row valign-wrapper teste ptop15 pbot">

    <form #dataForm="ngForm" class="form col s12 m8 l6 xl4 center-align  border-gradient-purple border-gradient ">
      <h5 class="titulo">Login</h5>
      <div class="card-action"></div>

    <div class="campos  lol">

      <div class="input-field col s12 m12 l12 xl12 input">
        <label for="user">Usuário</label>
        <input [(ngModel)]="dataLogin.user" ngModel type="text" class="validate" name="user" id="user"/>
      </div>

      <div class="input-field col s12 m12 l12 xl12 input">
        <label for="pass">Senha</label>
        <input [(ngModel)]="dataLogin.pass" ngModel type="password" class="validate inpt" name="eps" id="eps"/>
      </div>
      <!-- col s8 m8 l8 xl12  -->
      <div class="divider col s12 m12 l12 xl12 lol"></div>

      <div class="row">
        <div class="meio input-field col s12 ptop20">
          <button type="button" class="btn green waves-effect waves-light btn-edit"
          (click)="logar()">
            LOGAR
          </button>
        </div>
      </div>

      <div class="divider col s12 m12 l12 xl12 lol"></div>

      <div class="ptop30">

        <p class="msg">Não possui uma conta?</p>
        <p class="msg">Cadastre-se </p>
      </div>

      <div class="row meio input-field col s12 ptop10">
        <div class="center-align register">
          <button type="button" class="btn blue waves-effect btn-blue waves-light btn-registro" (click)="redirect()">Cadastre-se</button>
        </div>
      </div>

    </div>
    </form>
  </div>
