

.login-box {
  height:90vh;
}
.card{
  background-color: transparent;
  box-shadow: none;
  color: rgb(209, 204, 204);
}
.btn-logar{
  font-size: 1.2rem;
  color: rgb(253, 253, 253);
}
.msg{
  color: rgb(95, 95, 253);
}
