<!-- <div class="login">
  <div class="card">
    <div class="card-body">
      <form class="sigin-form" #signInForm="ngForm">
        <div class="row">
          <span class="msg">Por favor logue-se</span>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="dataLogin.user" name="user" id="usuario" type="text" class="validate" ngModel required>
            <label for="usuario">Usuario</label>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="password" type="password" class="validate" ngModel required [(ngModel)]="dataLogin.pass" >
            <label for="password">Senha</label>
          </div>
        </div>
        <div class="row">
          <p class="remember">
            <label>
              <input type="checkbox" class="filled-in"/>
            </label>
          </p>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light logar" type="submit" name="action"
          (click)="logar()">Logar
          </button>
        </div>
      </form>

    </div>
  </div>
</div> -->

<div class="valign-wrapper row login-box">
  <div class="col card s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <form class="formlogin border-gradient-purple border-gradient" #signInForm="ngForm">
      <div class="card-content">
        <span class="card-title center-align">Login</span>
        <div class="row">

          <div class="input-field col s12 ">
            <label for="user">Username</label>
            <input [(ngModel)]="dataLogin.user" ngModel required type="text" class="validate inpt" name="user" id="user" />
          </div>

          <div class="input-field col s12">
            <label for="password">Password</label>
            <input type="password" class="validate inpt" name="password" id="password" ngModel required [(ngModel)]="dataLogin.pass"/>
          </div>

        </div>
      </div>
      <div class="card-action">
        <div class="center-align">
          <button type="button" class="btn green waves-effect waves-light btn-logar" (click)="logar()">LOGAR</button>
        </div>
      </div>

      <div class="card-action center-align">
        <div class="center-align register">
          <p class="msg">Não possui uma conta?
          <br>Registre-se</p>
          <button type="button" class="btn blue waves-effect waves-light btn-registro" (click)="redirect()">Registre-se</button>
        </div>
      </div>

    </form>
  </div>
