.mn{
  font-size: 1.5em;
}
footer {
  position: fixed;
  bottom:0;
  width:100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.menu{
  background-color: #26a69a;
}
