<div class="login">
  <div class="col card s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <form class="formlogin border-gradient-purple border-gradient" #signInForm="ngForm">
      <div class="card-content">
        <span class="card-title center-align">Cadastrar</span>
        <div class="row">

          <div class="input-field col s12 ">
            <label for="user">Usuário</label>
            <input [(ngModel)]="dataFromForm.user" ngModel required type="text" class="validate inpt" name="user" id="user" />
          </div>

          <div class="input-field col s12">
            <label for="password">Senha</label>
            <input type="password" class="validate inpt" name="password" id="password" ngModel required [(ngModel)]="dataFromForm.pass"/>
          </div>

        </div>
      </div>
      <div class="card-action">
        <div class="">
          <button type="button" class="btn-edit btn green waves-effect waves-light" (click)="register()">CADASTRAR</button>
        </div>
      </div>
      <!-- <div class="card-action">

      </div> -->
    </form>
</div>
