<div class="titulo">
  <h4>Séries</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col s6 m12 l12">
      <a href="http://localhost:4200/catalogo">
        <div class="card" *ngFor="let content of contents | async">

          <div class="card-image">
            <img class="" [src]="content.poster" width="100" height="250">
          </div>
          <div class="card-vertical-title">
            <span class="lol" >
              {{ content.title }}
            </span>
            <br>
            <span class="eps">
              Episódios: {{ content.eps }}
            </span>
          </div>
          <!-- <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ content.title }}<i class="material-icons right">close</i></span>
            <p>{{ content.description }}</p>
          </div> -->

        </div>
      </a>
    </div>
  </div>

</div>

