<div class="">

  <div class="row valign-wrapper teste ptop15">

    <form #dataForm="ngForm" class="form col s12 m12 l8 xl6 center-align ptop  border-gradient-purple border-gradient ">
      <h3 class="titulo">Editar série</h3>

    <div class="campos ptop40">

      <div class="input-field col s12 m8 l8 xl8 input">
        <label [ngClass]="{'active': content.title}" for="title">Titulo</label>
        <input [(ngModel)]="content.title" ngModel type="text" class="validate" name="title" id="title"/>
      </div>

      <div class="input-field col s6 m4 l4 xl4 input">
        <label [ngClass]="{'active': content.eps}" for="eps">N de episódios</label>
        <input [(ngModel)]="content.eps" ngModel type="text" class="validate inpt" name="eps" id="eps"/>
      </div>

      <div class="input-field col s6 m4 l4 xl4 input">
        <label [ngClass]="{'active': content.aired}" for="aired">Lançamento</label>
        <input [(ngModel)]="content.aired" ngModel type="text" class="validate inpt" name="aired" id="aired"/>
      </div>

      <div class="input-field col s6 m4 l4 xl4 input">
        <label [ngClass]="{'active': content.duration}" for="duration">Duração</label>
        <input [(ngModel)]="content.duration" ngModel type="text" class="validate inpt" name="duration" id="duration"/>
      </div>

      <div class="input-field col s6 m4 l4 xl4 input">
        <label [ngClass]="{'active': content.type}" for="type">
          Tipo</label>
        <input [(ngModel)]="content.type" ngModel type="text" class="validate inpt" name="type" id="type"/>
      </div>

      <div class="input-field col s12 m4 l4 xl4 input">
        <label [ngClass]="{'active': content.status}" for="status">Estado</label>
        <input [(ngModel)]="content.status" ngModel type="text" class="validate inpt" name="status" id="status"/>
      </div>

      <div class="input-field col s6 m4 l4 xl4 input">
        <label [ngClass]="{'active': content.rating}" for="rating">Idade</label>
        <input [(ngModel)]="content.rating" ngModel type="text" class="validate inpt" name="rating" id="rating"/>
      </div>

      <div class="input-field col s6 m4 l4 xl4 input">
        <label [ngClass]="{'active': content.score}" for="score">Nota</label>
        <input [(ngModel)]="content.score" ngModel type="text" class="validate inpt" name="score" id="score"/>
      </div>

      <div class="input-field col s6 m6 l6 xl6 input">
        <label [ngClass]="{'active': content.producer}" for="producer">Produtor(a)</label>
        <input [(ngModel)]="content.producer" ngModel type="text" class="validate inpt" name="producer" id="producer"/>
      </div>

      <div class="input-field col s6 m6 l6 xl6 input">
        <label [ngClass]="{'active': content.studio}" for="studio">Estudio</label>
        <input [(ngModel)]="content.studio" ngModel type="text" class="validate inpt" name="studio" id="studio"/>
      </div>

      <div class="input-field col s12 input">
        <label [ngClass]="{'active': content.genre}"for="genre">Gênero</label>
        <input [(ngModel)]="content.genre" ngModel type="text" class="validate inpt" name="genre" id="genre"/>
      </div>

      <div class="input-field col s12 input">
        <label [ngClass]="{'active': content.description}" for="description">Descrição</label>
        <input [(ngModel)]="content.description" ngModel type="text" class="validate inpt" name="description" id="description"/>
      </div>

      <div class="">
        <div class="input-field col s12 m6 l6 xl6">
          <label [ngClass]="{'active': content.poster}" for="poster">Poster</label>
          <input accept=".png, .jpg, .jpeg" (change)="onSelectedFiles($event)" type="file" class="validate inpt-file ptop10" name="poster" id="poster"/>
          <div class="msg ">
            <p class="ver">Imagem atual: {{ oldFile?.slice(30) }}</p>
            <p class="verd" *ngIf="file">A ser inserida: {{ file?.name }} </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="meio input-field col s12 ptop10">
          <button type="button" class="btn blue waves-effect waves-light btn-blue" (click)="redirect()">Voltar</button>
          {{ " " }}
          <button type="button" class="btn green waves-effect waves-light btn-edit" [disabled]="!file"
          [swal]="updateSwal" (confirm)="updateContent()">
            CONFIRMAR
          </button>
        </div>
      </div>

      <swal
        #updateSwal
        title="Atualizar {{ content.title }} ?"
        text="Essa ação nao pode ser desfeita!"
        icon="question"
        [showCancelButton]="true"
        [focusCancel]="true"
        cancelButtonColor="#d33">
      </swal>

    </div>



    </form>
  </div>
</div>
<router-outlet></router-outlet>
